# Build artifacts
build/
artifacts/

# ZMK
zephyr/
!zephyr/module.yml

# West managed directories
.west/
modules/
tools/

# West projects from config/west.yml
zmk/
zmk-feature-non-lipo-battery-management/
zmk-module-ble-management/
zmk-module-battery-history/
zmk-module-settings-rpc/
zmk-module-runtime-input-processor/
zmk-pmw3610-driver/
zmk-rgbled-widget/
zmk-pointing-acceleration/
